*{ 
    margin: 0;
    padding: 0;
}

body{
    background-color:whitesmoke;
}

header {
    color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: lightgray;
}

nav {
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}

article {
    margin: 10px;
    padding: 10px;
    width: 70vw;
    height: 58vh;
    background-color: lightyellow;
}

aside {
    position: absolute;
    margin: 10px;
    padding: 10px;
    width: 26vw;
    height: 58vh;
    right: 2px;
    top: 11.1vh;
    background-color: lightgreen;
}
.s1{
    position: absolute;
    width: 49.1vw;
    height: 10vh;
    left: 10px;
    background-color: lightcyan;
}

.s2{
    position: absolute;
    width: 49.2vw;
    height: 10vh;
    right: 10px;
    background-color: lightcyan;
}

footer {
    position: absolute;
    margin: 10px;
    padding: 10px;
    width: 97.8vw;
    height: 11vh;
    bottom: 5px;
    background-color: lightcoral;
}

header, nav, article, aside, section, footer{
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
    article{
        width: 58.5vw;
        height: 30vh;
    }
    aside{
        height: 30vh;
    }
    .s1{
        width: 46.5vw;
        height: 10vh;
    }
    .s2{
        width: 46.5vw;
        height: 10vh;
    }
    footer{
        width: 91.5vw;
        height: 10vh;
        position: relative;
        top: 103px;        
    }
}